@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    textarea:focus,
    input:focus {
        outline: none;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    @font-face {
        font-family: Proxima Nova;
        font-weight: 400;
        src: url(/fonts/proxima-nova/400-regular.woff) format("woff");
    }

    @font-face {
        font-family: Proxima Nova;
        font-weight: 500;
        src: url(/fonts/proxima-nova/500-medium.woff) format("woff");
    }

    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    ul {
        display: block;
        list-style-type: disc;
        margin-top: 1em;
        margin-bottom: 1 em;
        margin-left: 0;
        margin-right: 0;
        padding-left: 40px;
    }

    li {
        display: list-item;
    }

}